
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f9;
}

header {
    background-color: #003b72;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
}

.highlight {
    color: #f2c94c;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: #444;
    padding: 0.5rem;
    margin-top: 1rem;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f2c94c;
}

main {
    max-width: 1000px;
    margin: 2rem auto;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    width: 32%;
}

.card h2 {
    background-color: #003b72;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    border-radius: 4px;
}

p{
    font-size: 12px;
}

.about-me {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.about-me img {
    border-radius: 8px;
    width: 100px;
    height: auto;
}

.location {
    display: flex;
    gap: 1rem;
}

.location img {
    width: 150px;
    height: auto;
}

.caption {
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
    color: #666;
    margin-top: 0.5rem;
}

footer {
    background-color: #003b72;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 0.9rem;
}

footer p {
    margin: 0.5rem 0;
}
